.App {
  text-align: center;
  scroll-behavior: smooth;
  touch-action: none;
  overflow-y: hidden;
  scrollbar-width: thin;
}

.App::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.App::-moz-scrollbar {
  display: none;
  overflow: hidden;
}

path {
  fill: red;
}
